

<h2>Collection by {{ user() }} with {{ store.ownedCount()}} boardgames</h2>

<input type="text" name="searchTerm" [ngModel]="searchTerm().value" (ngModelChange)="search($event)"/>

<div class="collection-grid">
    @if(store.isLoading()) {
        <p>Loading...</p>
    } @else {

    
  <!--  @defer (when store.collection().length; prefetch on idle) { -->
        <ul>
            @for (boardgame of store.getOwned(); let i = $index; track boardgame.name) {
               
                    <li (click)="navigateToBgg(boardgame.gameId)"> 
                        {{i+1}}- {{ boardgame.name }} 
                        @if(boardgame.isExpansion) {
                            (expansion)
                        }
                    </li>
               
   
            } 
        </ul>
   <!--  }  @placeholder (minimum 500ms) {
        <div class="placeholder">Loading...</div>
    } @error {
        <p>No se pudo cargar el componente grande.</p>
    } -->
    } 
    
</div>
 